<div class="container">
  <section class="calendar">
    <full-calendar *ngIf="calendarVisible()" [options]="calendarOptions()">
      <ng-template #eventContent let-arg>
        <b>{{ arg.timeText }}</b>
        <i>{{ arg.event.title }}</i>
      </ng-template>
    </full-calendar>
  </section>

  <section class="calendar-details">
    <div class="calendar-details-section"></div>
    <div class="calendar-details-section">
      <h2>All Events ({{ currentEvents.length }})</h2>
      <ul>
        <li *ngFor="let event of currentEvents()">
          <b>{{ event.startStr }}</b>
          <i>{{ event.title }}</i>
        </li>
      </ul>
    </div>
  </section>
</div>

<!-- Make drop down modal -->
<div class="year-modal">
  <div class="flex justify-center items-center w-full h-full">
    <mat-form-field>
      <mat-label>Select year</mat-label>
      <mat-select (ngModelChange)="onChangeYear()">
        @for (year of yearsList; track year) {
        <mat-option [value]="year.value">{{ year.viewValue }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
</div>
