<div class="w-screen mx-auto">
  <section class="calendar">
    <full-calendar *ngIf="calendarVisible()" [options]="calendarOptions()">
      <ng-template #eventContent let-arg>
        <b>{{ arg.timeText }}</b>
        <i>{{ arg.event.title }}</i>
      </ng-template>
    </full-calendar>
  </section>

  <section class="rounded bg-slate-200 mx-auto mx">
    <div class="calendar-details-section"></div>
    <div class="calendar-details-section">
      <h2>All Events ({{ currentEvents.length }})</h2>
      <ul>
        <li *ngFor="let event of allEvents" class="list-none flex">
          <div class="bg-slate-400">
            <p>{{ event.title }} {{ event.start | date : "shortTime" }}</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>

@if (viewYearDropDown) {
<section class="year-modal">
  <div class="flex justify-center items-center w-full h-full">
    <mat-form-field>
      <mat-label>Select year</mat-label>
      <mat-select (selectionChange)="onChangeYear($event)">
        <mat-option *ngFor="let year of yearsList" [value]="year.value">{{
          year.viewValue
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</section>
}
